<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-Style-Type" content="text/css" />
<meta http-equiv="content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>福々もちや</title>
<meta name="description" content="2014年10月 Newly Opened!" />
<meta name="keywords" content="岐阜,餅,もちや" />
<meta name="keywords" content="無料テンプレート" />
<link rel="stylesheet" href="../static/css/common.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../static/css/custom.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../static/js/coin-slider-styles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../static/cal/cal.css" type="text/css">
</head>
<body id="home">
<div id="wrapper">
<div id="wrapper-inner">
<div id="header">
<!-- キーワード --><h1>飛騨 昔ながらのもちや</h1>
<!-- タイトル   --><img src="../static/images/hukuhuku_trans.png" alt="" width="200px"/>
<!-- 概要       --><p class="description">2014年10月 Newly Opened! 岐阜県岐阜市芋島1-2-9</p>
<!-- 電話       --><dl class="tel"><dt>***** お問い合わせ先 *****</dt><dd>058-337-7209</dd></dl>
</div><!-- / header end -->
<div id="contents">
<div id="slider">
<!-- 画像入れ替え ここから -->

  <!-- 画像 1 -->
  <img src="../static/images/gaikan_50.jpg" alt="" />
  <span>2014年10月に満を持してオープンしました！</span>
  <!-- 画像 2 -->
  <img src="../static/images/yomogi_50.jpg" alt="" />
  <span>おすすめのよもぎ大福です！食べに来てください！</span>
  <!-- 画像 3 -->
  <img src="../static/images/nazo_50.jpg" alt="" />
  <span>店内は落ち着きのある雰囲気になっています。</span>
  <!-- 画像 4 -->
  <img src="../static/images/daihuku_50.jpg" alt="" />
  <span>大好評の大福です！</span>

<!-- 画像入れ替え ここまで -->
</div>

<h2>お店紹介</h2>
<ul class="top-btn">
<!-- 画像ブロック ここから -->

  <!-- 画像ブロック 1 -->
  <li class="btn01">
  <a href="../static/about.html"><img src="../static/images/naisou.jpg" alt="" /></a>
  <p>お店概要</p>
  </li>
  
  <!-- 画像ブロック 2 -->
  <li class="btn02">
  <a href="../static/menu.html"><img src="../static/images/tenji.jpg" alt="" /></a>
  <p>お品書き</p>
  </li>
  
  <!-- 画像ブロック 3 -->
  <li class="btn03">
  <a href="../static/access.html"><img src="../static/images/kesiki.jpg" alt="" /></a>
  <p>アクセス</p>
  </li>
  
<!-- / 画像ブロック ここまで -->
</ul>

<h3 class="clear">営業日・時間</h3>
<div id="cal0" class="cal_wrapper">
    Calendar Loading
</div>
<div id="contents_right">
<div class="redbox"></div>...休業日<br>
<br>
<div class="whitebox"></div>...営業日
</div>

<div id="contents_contents">
<ul>
<li>土・日・祝日も営業しています。</li>
<li>営業時間: 9:00~16:00</li>
<li>売り切れ次第終了とさせていただきます。</li>
</ul>
</div>

<!-- 注意書き -->
<h3 class="clear">当店のおもちをおいしく召し上がっていただくために</h3>
<div id="contents_contents">
<ul>
<li>当店の「おもち」「おはぎ」などは、保存料、食品添加物を使用しておりませんので、お早めにお召し上がりください。</li>
<li>また、保存される場合は、冷凍保存をお薦めします。自然解凍にて、美味しくお召し上がりいただけます。</li>
<li>おもちを焼く場合は、あらかじめオーブンレンジを温めておくと上手に焼きあがります。</li>
<li>おもちは、粘りが強い食品ですので、喉に詰まらせる恐れがあります。お年寄りやお子様には十分注意して少量ずつお食べください。
</ul>

</div> 

<!-- 見出し -->
<h3 class="clear">新着情報</h3>
<ul class="information">
<!-- 
============ 入力方法 =================================================================================
<li><span>2011.07.28</span><a href="info/1.html#d20110728">記事タイトル</a></li>

info/1.html#d20110728 → #d に続けて投稿日を入れます。
2011年7月28日なら　2011 07 28 → 20110728 
-----------------------------------------------------------------
infoフォルダ内の1.htmlの下記部分と同じ数値になる事が必須！

<div id="d20110728" class="entry">
id="d20110728" → d に続けて投稿日を入れます。
-----------------------------------------------------------------
これで該当記事に直接ジャンプします！
=======================================================================================================
-->
<!-- 新着情報 ここから -->
<li><span>2015.02.03</span><a href="#">ホームページをオープンしました！</a></li>
<li><span>2015.01.25</span>チョコ大福始めました！</li>
<li><span>2014.10.23</span>福々もちや　新規開店！</li>
<!-- 新着情報 ここまで -->
</ul>

<!-- コンテンツ ここまで -->
</div><!-- / contents end -->

<div id="sidebar">
<!-- サイドバー ここから -->
<ul class="globalnavi">
<!-- グローバルナビゲーション -->
  <li class="title">お店紹介</li>
  <li><a href="./index.html">ホーム</a></li>
  <li><a href="../static/about.html">お店概要</a></li>
  <li><a href="../static/menu.html">お品書き</a></li>
  <li><a href="../static/access.html">アクセス</a></li>
</ul>

<ul class="localnavi">
  <li class="title">その他リンク</li>
  <li><a href="http://www.nak.ics.keio.ac.jp/">斎藤博昭研究室</a></li>
</ul>

<dl class="sideinfo">
  <dt class="title">Information</dt><!-- 見出し -->
  <dd>
  <p><a href="#">ホームページをオープンしました！</a></p>
  </dd>
</dl>

<dl class="calendar">
  <dt class="title">定休日</dt><!-- 見出し -->
  <dd>
  <p>毎週月・火曜日は定休日とさせていただきます。</p>
  <script type="text/javascript" charset="UTF-8" src="../static/cal/cal.js"></script>
  </dd>
</dl>
<img src="../static/images/tezukuri.png" alt="" />
<!-- サイドバー ここまで -->
</div><!-- / sidebar end -->

<p id="pagetop"><span><a href="#header">Page top</a></span></p>
<div id="footer">
<!-- コピーライト --><p>Copyright &copy; hukuhukumochiya. All Rights Reserved.</p>
<!-- アドレス     --><address>
<span>福々もちや</span>
<span>〒500-8234 岐阜県岐阜市芋島 1-2-9 Tel 058-337-7209</span>
</address>
<!-- 削除不可 --><p id="cds">Designed by <a href="http://www.css-designsample.com/">CSS.Design Sample</a></p>
</div><!-- / footer end --></div><!-- / wrapper-inner end --></div><!-- / wrapper end -->
<script type="text/javascript" src="../static/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="../static/js/coin-slider.min.js"></script>
<script type="text/javascript" src="../static/js/option.js"></script>
</body>
</html>
